html{
	font-family: arial;
	font-size: 16px;
}
#hero{
			background: url('./Images/I2.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-size; max-height: inherit;
			padding-bottom: 1%;
		}
		a{color: white;
			padding: 20px;
			transition:ease 5s ;}
			a:hover{color: red;}


		nav{
			background-color: rgba(0, 0, 0, 0.2);
			text-align: center;
			padding: 22px;
		}

		#bandeau{
			background-color: rgba(255, 255, 255, 0.2);
			margin-top: 20%;
			margin-bottom: 20%;
		}
		#contenu{
			text-align: center;
			padding: 2%;
		}
		#contenu
			 a{color: yellow;
			 	border :1px solid yellow;
			 	padding: 10px;
			 	border-radius: 15px;
		}
		#contenu a:hover{
			color:white;
			background-color: rgba(178, 32, 19, 1.0);}

		#contenu img:hover{transform: rotate(33deg)scale(1.5);}

		h1{
			color: red;
		}
		h2{
			color: skyblue;
		}
		#apropos{
			display: flex;
		}
		#apropos-image{
			flex: 1;
		}
		#apropos-image img{
			max-width: 100%;
		}
		#apropos-texte{
			flex: 2;
			padding: 20px;
			text-align: justify;
		}

		#services{
			display: flex;
			background-color: #666;
			padding: 20px;
			color: white;
			text-align: center;
		}
		.services_item p{
			text-align: justify;
			padding: 20px;
		}
}










